
.main-container{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.slider-container {
  min-width: 200%;
  overflow: hidden;
  padding-bottom: 50px;
}
.slider-item {
  position: relative;
  width: 100%;
  height: 100%;
  bottom: 0;
  background-size: cover; 
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}
img{
  padding: 5px;
  z-index: 50;
  width: 100%;
  align-self: center;
}
.buttonss{
  z-index: 100;
  position: absolute;
  bottom: 50px;
  left: 150px;
}